#extraneous python and fortran files
*.pyc
*~
*.so
*.o
/pylib/*

#trajectories
*.lammpstrj
*.lammpstrj.gz
*.xtc
*.gro
*.curr
*.prev

#data
/data
*.dat
*.txt
*.pickle

#plots
*.svg
*.png

#shell-scripts

