#Lammps inpt script for C25 polymer simulation

# INITIALISATION
units real
atom_style full
read_data %(DATAFILEPREFIX)s.data
include   %(DATAFILEPREFIX)s.forcefield
log %(RUNPREFIX)s.log append

# GROMACS STYLE GROUP FILE FOR POLYMER ATOMS
group polymer type 3
group water type 1 2
%(FIX_STATE)s group2ndx polymer.ndx polymer


# RESCALING BOX TO MATCH GIVEN DENSITY
change_box all x scale      1.0000 y scale      1.0000 z scale      1.0000 remap units box
 

# CREATING VELOCITY DISTRIBUTION AND GIVING THE SYSTEM SOME WARM-UP
velocity all create    298.0000 54321 dist gaussian

# APPLY UMBRELLA RESTRAINT
%(FIX_STATE)s fix umbrella all colvars %(RUNPREFIX)s.colvar.input seed 5431 output %(RUNPREFIX)s

# MINIMIZE TO REMOVE CLASHES
minimize 1.0e-5 1.0e-6 10000 1000000
thermo_style custom step fmax fnorm
thermo %(STEPFREQ)d


# COMMON SETTINGS
fix constrain water shake 1.0e-4 100 0 b 1 a 1
neighbor 2.0 bin
neigh_modify every 1 delay 10 check yes


# NPT SIMULATION TO RELAX BOX SIZE FOR CLOSE PACKING
timestep 1.00

# First with ewald summation turned off
kspace_modify compute no
fix relax all npt temp    298.0000    298.0000 100 iso 1.0 1.0 1000.0 
thermo_style  custom step atoms press temp vol lx ly lz 
run_style 	verlet
thermo		%(STEPFREQ)d
restart 	%(RESTARTFREQ)d %(RUNPREFIX)s_relax_no_kspace.prev %(RUNPREFIX)s_relax_no_kspace.curr
run 		%(RELAXSTEPS)d

# Then with ewald summation turned on
kspace_modify compute yes mesh 0 0 0
thermo		%(STEPFREQ)d
restart 	%(RESTARTFREQ)d %(RUNPREFIX)s_relax.prev %(RUNPREFIX)s_relax.curr
run 		%(RELAXSTEPS)d

unfix 		relax

# BERENDSEN EQUILBRATION
timestep 1.00
fix thermostat all temp/berendsen    298.0000    298.0000 100
fix nve all nve
thermo_style  custom step temp press atoms pe etotal 

run_style 	verlet
thermo		%(STEPFREQ)d
restart 	%(RESTARTFREQ)d %(RUNPREFIX)s_equil.prev %(RUNPREFIX)s_equil.curr
run 		%(EQUILSTEPS)d
unfix 		thermostat
unfix 		nve



# PRODUCTION RUNS
timestep 1.0

compute polyPE_atom polymer pe/atom
compute polyPE_total polymer reduce sum c_polyPE_atom
compute Rg polymer gyration

fix nvt all nvt temp    298.0000    298.0000 100 	

dump trj all custom %(STEPFREQ)d %(RUNPREFIX)s.lammpstrj.gz id type x y z
thermo_style  custom step temp atoms pe c_polyPE_total c_Rg
thermo_modify flush yes

run_style 	verlet
thermo		%(STEPFREQ)d
restart 	%(RESTARTFREQ)d %(RUNPREFIX)s_prod.prev %(RUNPREFIX)s_prod.curr
run		%(PRODSTEPS)d



# CLEANUP
undump trj
%(FIX_STATE)s unfix umbrella
unfix nvt
unfix constrain

