
pair_style hybrid lj/cut/coul/long 10.00 lj/cut 10.00
kspace_style pppm 1.0e-5

# Water SPC/E model (Berendsen et. al)
pair_coeff 1 1 lj/cut/coul/long 0.00 0.00
pair_coeff 1 2 lj/cut/coul/long 0.00 0.00
pair_coeff 2 2 lj/cut/coul/long 0.15535 3.166 

# Polymer-polymer interaction
pair_coeff 3 3 lj/cut 0.13986 3.73 10.00

#polymer-water interaction (mix = arithmetic)
pair_coeff 1 3 lj/cut 0.00 0.00
pair_coeff 2 3 lj/cut 0.147402 3.448 10.00

pair_modify shift yes		

bond_style harmonic
bond_coeff 1 412.285 1.00	#O-H bond    (spce.itp - gromacs topology file parameters)
bond_coeff 2 400 1.53		#P-P bond

angle_style harmonic
angle_coeff 1 45.77 109.47	#H-0-H angle (spce.itp - gromacs topology file parameters)
angle_coeff 2 55.17204 111.0	#P-P-P angle

